@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: "bubblegum";
  src: url("./assets/BubblegumSans-Regular.ttf");
}

.title {
  font-family: bubblegum;
  @apply text-3xl font-medium text-shadow-md;
}